{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}


{% block content %}
    <h2>Все привет!</h2>
    <hr>
    <p><font size="6" face="Times New Roman">Где то люди мечтают,</font></p>
    <p><font size="5" face="Georgia">Видят мырные сны,</font></p>
    <p><font size="4" face="Arial">А над Грозным нависла,</font></p>
    <p><font size="3" face="Tahoma">С гарью,</font></p>
    <p><font size="2" face="Verdana">Серая мгла.</font></p>
{% endblock content %}